.app {
    width: 600px;
    margin: 50px auto;
}

table {
    border-collapse: collapse;
}

table {
    border: 1px solid black;
}

thead>tr>th {
    border-bottom: 1px solid #999;
}

tbody>tr>td {
    border: 1px solid black;
}

td,
th {
    /* height: 50px; */
    width: 100px;
    text-align: center;
}